<html>
    <head>
        <link href="..\styles\style.css" rel="stylesheet">
        <title>Nakurwiaj ten trening</title>
    </head>
    <body>
        <div class="container">
            <div class="box">
                <p>No już już. trzeba nakurwiać</p>
                
            </div>
            <div class="box">
                <p>No już już. trzeba nakurwiać</p>

            </div>
            <div class="box">
                <p>No już już. trzeba nakurwiać</p>
            </div>
            <div class="box active" >
                <p>No już już. trzeba nakurwiać</p>
                <p>No już już. trzeba nakurwiać</p>
                <p>No już już. trzeba nakurwiać</p>
                <p>No już już. trzeba nakurwiać</p>
                <p>No już już. trzeba nakurwiać</p>
            </div>
            <div class="box active">
                <p>No już już. trzeba nakurwiać</p>

            </div>
        </div>
    </body>
</html>