{% extends '../layout.html' %}
{% block content %}
<script type="text/javascript">
    let addBlock = () =>
    {
        let block_root = window.document.getElementById("blockRoot")
        let block_node = window.document.getElementById("blockAdd").cloneNode(true)
        // let new_div = document.createElement("div")
        block_node.classList.add("post-form")
        block_node.setAttribute('style', 'display:block')
        // new_div.append(block_node)
        block_root.append(block_node)
    }
    // let addForm = () =>
    // {
    //     let new_div = document.createElement("div")
    //     new_div.classList.add("post-form")
    //     new_div.
    // }
</script>
<h2>Dodaj blok do treningu</h2>
    <div id="blockRoot">
        <br>
        <form id="block" method="POST" action="{% url 'training_create' %}" class="post-form">{% csrf_token %}
            {{ form.as_p }}
        </form>
    </div>
        <div>
            <h2>Czy chcesz dodać kolejny blok?</h2>
            <form id="blockAdd" style="display: none;" method="POST" action="{% url 'excercise_blocks_new' %}" >{% csrf_token %}
                {{ form.as_p }}
            </form>
                <div onclick="addBlock()">
                    +dodaj kolejny blok
                </div>
        </div>
        <button type="submit" class="save btn btn-default">zapisz trening</button>

{% endblock %}
