<html>
    <head>
        <!-- <link href="..\..\styles\style.css" rel="stylesheet"> -->
        <title>Nakurwiaj ten trening</title>
    </head>
    <body>
        <div class="container">
            <div class="box">
                <p>No już już. trzeba nakurwiać</p>
                
            </div>
            <div class="box">
                <p>No już już. trzeba nakurwiać</p>

            </div>
            <div class="box">
                <p>No już już. trzeba nakurwiać</p>
            </div>
            <div class="box active" >
                <p>No już już. trzeba nakurwiać</p>
                <p>No już już. trzeba nakurwiać</p>
                <p>No już już. trzeba nakurwiać</p>
                <p>No już już. trzeba nakurwiać</p>
                <p>No już już. trzeba nakurwiać</p>
            </div>
            <div class="box active">
                <p>No już już. trzeba nakurwiać</p>
            </div>
            {{showAll}}<br>

            {% for excercise in showAll %}
            {{ excercise }}<a href="{% url 'excercise_show' pk=excercise.pk %}">show</a> <a href="{% url 'excercise_edit' pk=excercise.pk %}">edit</a> <br>
            {% endfor %}<br>
            <a href="{% url 'excercise_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus" > nowy </span></a><br>
        </div>
    </body>
</html>