{% extends '../layout.html' %}

    {% block content %}
    <div class="excercise_sets_list">
        {% for excercise_set in showAll %}
        {{ excercise_set }} <br>
            <div class= "linksList">
                <div class = "link">
                    <a href="{% url 'excercise_set_show' pk=excercise_set.pk %}">show </a>
                </div>
                <div class = "link">
                    <a href="{% url 'excercise_set_edit' pk=excercise_set.pk %}">edit</a>
                </div>
                <div class = "link">
                    <a href="{% url 'excercise_set_delete' pk=excercise_set.pk %}">delete</a>
                </div>
                <div class = "link">
                    <a href="{% url 'excercise_set_serialize' pk=excercise_set.pk %}">serialize</a>
                </div>
            </div>
        {% endfor %}<br>
        <a href="{% url 'excercise_set_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus" > nowy </span></a><br>
    </div>
    {% endblock %}
