<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <title>Nakurwiaj ten trening</title>
    </head>
    <body>
        <header>
            <div class= logo>
                <a href="{% url 'main_page' %}" >Logo</a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'excercise_list' %}" class="top-menu"><span > Baza ćwiczeń </span></a><br>
                    </li>
                    <li>
                        <a href="{% url 'training_list' %}">Baza Treningów </a>
                    </li>
                    <li>
                        <a href="{% url 'excercise_set_list' %}">Baza Setów </a>
                    </li>
                    <li>
                        <a href="{% url 'excercise_block_list' %}">Baza Bloków </a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="container">
                {% block content %}
                {% endblock %}
        </div>
            <footer>
                <a href="https://mistrzowie.org/uimages/services/mistrzowie/i18n/pl_PL/201912/1575833743_by_Nepen.jpg?1575833743" class="top-menu"><span > Stopka </span></a><br>
            </footer>
    </body>
</html>
