{% extends '../layout.html' %}

{% block content %}
<script type="text/javascript" >
    localStorage.setItem("setFormCount",0)

    let increaseSetFormCount = () =>
    {
        let setFormCount = localStorage.getItem("setFormCount")
        setFormCount++
        localStorage.setItem("setFormCount",setFormCount)
        return setFormCount
    }

    let saveAll = (url) =>
    {
        localStorage.removeItem("setFormCount")
        document.getElementById("blockForm").submit()
    }

    let editSetSelect = () =>
    {
        let setFormCount = localStorage.getItem("setFormCount")
        let selectDiv = window.document.getElementById(`blockSubForm-${setFormCount}`)
        let divChildNodes = selectDiv.children
        for (const node of divChildNodes) {
            console.log("node = " , node)
            console.log("node-type = ", node.type)
            if( "select-multiple" === node.type)
            {
                node.removeAttribute("multiple")
                break
            }
        }
        console.log("selectDiv.firstElementChild = " , divChildNodes)
    }

    let requestForm = async (url) =>
    {
        return await fetch(url).then(response => response.text())
    }

    let removeSubForm = (myId) =>
    {
        console.log("lala",myId)
        let selectDiv = window.document.getElementById(myId)
        selectDiv.remove()
        console.log(myId)
    }

    let divFormCreator = async (myId, url) =>
    {
        let new_div = document.createElement("div")
        new_div.classList.add("post-form")
        new_div.setAttribute("href", url)
        new_div.setAttribute("id", myId )
        new_div.innerHTML = await requestForm(url)
        return new_div
    }

    let removeElementButton = (myId) =>
    {
        let removeCurrentElement = document.createElement("div")
        removeCurrentElement.classList.add("blockForm")
        removeCurrentElement.setAttribute("onClick", `removeSubForm('${myId}')`)
        return removeCurrentElement
    }

    let addSequenceNumber = () =>
    {
        let new_div = document.createElement("input")
        // new_div.classList.add("post-form")
        new_div.setAttribute("type", "hidden" )
        new_div.setAttribute("name", "sequence" )
        new_div.setAttribute("value",  localStorage.getItem("setFormCount")-1)
        return new_div
    }

    let addSetForm = async (url, isNew) =>
    {
        let setFormCount = increaseSetFormCount()
        let myId = `blockSubForm-${setFormCount}`
        let block_root = window.document.getElementById("allSets")
        let new_div = await divFormCreator(myId, url)
        setTimeout(editSetSelect, 1)
        new_div.append(removeElementButton(myId))
        if(true==isNew)
        {
            console.log("tak tak tak")
            new_div.append(addSequenceNumber())
        }else
        {
            console.log("nie nie nie")
        }
        block_root.append(new_div)
    }

</script>



<div id="blockRoot">
    <h2>Dodaj sety do bloku</h2>
    <form id="blockForm" method="POST" action="{% url 'excercise_blocks_create' %}" class="post-form">{% csrf_token %}
        Przerwa po bloku: <br />
        {{ form.breakTimeAfterBlock}} <br />

        <div id="allSets"></div>
        <div id="addSetForm" onClick="addSetForm('{% url 'excercise_blocks_newForm' %}',false)">+dodaj set</div>
        <div onClick="addSetForm('{% url 'excercise_sets_newForm' %}', true)"> +stwórz nowy set</div>
        <button type="button" onClick="saveAll('{% url 'excercise_sets_create' %}')" class="save btn btn-default">Zapisz blok</button>
    </form>
</div>

{% endblock %}
