{% extends '../layout.html' %}

{% block content %}
<script type="text/javascript" >
localStorage.setItem("blockCount",0)
localStorage.setItem("setCount",0)

let saveAll = (url) =>
    {
        localStorage.removeItem("blockCount")
        localStorage.removeItem("setCount")
        document.getElementById("blockForm").submit()
    }
    let addBlock = (url) =>
    {
        let blockCount = localStorage.getItem("blockCount")
        blockCount++
        localStorage.setItem("blockCount",blockCount)
        const Http = new XMLHttpRequest();
        let new_div = document.createElement("div")
        new_div.classList.add("post-form")
        new_div.classList.add("blockForm")
        new_div.setAttribute("href", url)
        new_div.setAttribute("id", `blockSubForm-${blockCount}` )
        let block_root = window.document.getElementById("allSets")
        console.log(url)
        Http.open("GET", url);
        Http.send();

        Http.onreadystatechange = (e) => {
            console.log(Http.responseText)
            new_div.innerHTML=Http.responseText
        }
        block_root.append(new_div)
    }


    let addSet = (url) =>
    {
        const Http = new XMLHttpRequest();
        let new_div = document.createElement("div")
        new_div.classList.add("post-form")
        new_div.classList.add("blockForm")
        new_div.setAttribute("href", url)
        new_div.setAttribute("id", "setForm")
        let block_root = window.document.getElementById("allSets")
        console.log(url)
        Http.open("GET", url);
        Http.send();

        Http.onreadystatechange = (e) => {
            console.log(Http.responseText)
            new_div.innerHTML=Http.responseText
        }
        block_root.append(new_div)

    }
</script>



<div id="blockRoot">
    <h2>Dodaj sety do bloku</h2>
    <form id="blockForm" method="POST" action="{% url 'excercise_blocks_create' %}" class="post-form">{% csrf_token %}
        {{ dupa }}
        {{form.as_p}}
        <div id="allSets"></div>
        <div id="addBlock" onclick="addBlock('{% url 'excercise_blocks_newForm' %}')">+dodaj kolejny set</div>
        <div class="addNewSet" onclick="addSet('{% url 'excercise_sets_newForm' %}')"> +dodaj nowy set</div>
        <button type="button" onclick="saveAll('{% url 'excercise_sets_create' %}')" class="save btn btn-default">Zapisz blok</button>
    </form>
</div>

{% endblock %}
