<html>
    <head>
        <!-- <link href="..\..\styles\style.css" rel="stylesheet"> -->
        <title>Nakurwiaj ten trening</title>
    </head>
    <body>
        <div class="container">
            <div class="box">
                <p>No już już. trzeba nakurwiać</p>
                
            </div>
            <div class="box">
                <p>No już już. trzeba nakurwiać</p>

            </div>
            <div class="box">
                <p>No już już. trzeba nakurwiać</p>
            </div>
            <div class="box active" >
                <p>No już już. trzeba nakurwiać</p>
                <p>No już już. trzeba nakurwiać</p>
                <p>No już już. trzeba nakurwiać</p>
                <p>No już już. trzeba nakurwiać</p>
                <p>No już już. trzeba nakurwiać</p>
            </div>
            <div class="box active">
                <p>No już już. trzeba nakurwiać</p>
            </div>
            {{bla}}<br>
            {{showAll}}<br>

            <a href="{% url 'training_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus" > Tu wprowadz cwiczenie </span></a>
        </div>
    </body>
</html>