{% extends '../layout.html' %}

    {% block content %}
    <div class="training_list">
        {% for training in showAll %}
        {{ training }} <br>
            <div class= "linksList">
                <div class = "link">
                    <a href="{% url 'training_show' pk=training.pk %}">show </a>
                </div>
                <div class = "link">
                    <a href="{% url 'training_edit' pk=training.pk %}">edit</a>
                </div>
            </div>
        {% endfor %}<br>
        <a href="{% url 'training_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus" > nowy </span></a><br>
    </div>
    {% endblock %}
