{% extends '../layout.html' %}

    {% block content %}
    <div class="excercise_blocks_list">
        {% for excercise_blocks in showAll %}
        {{ excercise_blocks }} <br>
            <div class= "linksList">
                <div class = "link">
                    <a href="{% url 'excercise_block_show' pk=excercise_blocks.pk %}">show </a>
                </div>
                <div class = "link">
                    <a href="{% url 'excercise_block_edit' pk=excercise_blocks.pk %}">edit</a>
                </div>
                <div class = "link">
                    <a href="{% url 'excercise_block_delete' pk=excercise_blocks.pk %}">delete</a>
                </div>
                <div class = "link">
                    <a href="{% url 'excercise_block_serialize' pk=excercise_blocks.pk %}">serialize</a>
                </div>
            </div>
        {% endfor %}<br>
        <a href="{% url 'excercise_block_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus" > nowy </span></a><br>
    </div>
    {% endblock %}
